:root {
    /*--Primary Colors--*/
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /*--Neutral colors--*/
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background: url(./assets/pattern-background-mobile.svg);
    background-color: var(--Pale-blue);
    background-size: contain;
    background-repeat: no-repeat;
}

.os-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: 330px;
    height: 590px;

    border-radius: 20px;
    background-color: white;

    box-shadow: 0px 10px 21px -7px rgba(0,0,0,0.33);
}

.os--img {
    width: 100%;
    height: 155px;

    border-radius: 20px 20px 0 0 ;
    background-image: url(./assets/illustration-hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.os--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: auto;

    padding-top: 30px;
}

.os--content h1 {
    color: var(--Dark-blue);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.os--content p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;

    color: var(--Desaturated-blue);
}

.plan-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 95%;
    height: 80px;

    margin-top: 30px;
    margin-bottom: 20px;
    background-color: var(--Very-pale-blue);
    border-radius: 15px;
}

.music-icon {
    width: 50px;
    height: 50px;

    background-image: url(./assets/icon-music.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
}

.plan-selection .plan {
    font-size: 1.3rem;
    text-align: left;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--Dark-blue
    );
}

.plan-selection .price {
    font-size: 1,2rem;
    font-weight: 500;
    color: var(--Desaturated-blue);
}

.plan-selection a {
    font-weight: 700;
    color: var(--Bright-blue);
}

.plan-selection a:hover{
    text-decoration: none;
    color: var(--Desaturated-blue);
    transition-duration: .2s;
}

.btn {
    width: 95%;
    height: 50px;
    font-weight: 900;
    font-size: 1.2rem;

    border-radius: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    border-style: none;
}

.pay-btn {
    background-color: var(--Bright-blue);
    color: white;

    box-shadow: 0px 24px 27px -7px rgba(0,0,0,0.33);
}

.pay-btn:hover {
    background-color: var(--Desaturated-blue);
    transition-duration: .2s;
}

.cancel-btn {
    background-color: transparent;
    transition: .2s;
}

.cancel-btn:hover {
    color: var(--Dark-blue);
    transition: .2s;
}